body { 
	padding: 5px 0;
	background: #F8F8F8;
}

.logo {
	text-align: center;
	margin-bottom: 20px;
	color: dimgray;
}

.bold {
	font-weight: bold;
	font-size: 150%;
}

.dark {
	color: skyblue;
}

.container {
	display: flex;
	height: 430px;
	color: dimgray;
}
#status  {
	margin: auto;
	display: table;
}

.btnColor {
	color: whitesmoke;
	height: 30px;
	width: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	margin: 5px;
}

.blue {
	background-color: dodgerblue;
}
.red {
	background-color: orangered;
}
.yellow {
	background-color: gold;
}
.green {
	background-color: limegreen;
}